html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 3.125rem;
  font-weight: normal;
}

h2 {
  font-size: 2.625rem;
  font-weight: 300;
  font-weight: normal;
}

h3 {
  color: grey;
  font-size: 1.3125;
  font-weight: normal;
}

a {
  color: aquamarine;
  font-size: 1rem;
}

img {
  margin: 30px;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

#iphone {
  display: block;
  margin: 30px auto;
}

#personal_guide {
  display: block;
  margin: 30px auto;
}